.about-section {
    display: flex;
    flex-direction: column;
    width: 90vw;
    max-width: 1000px;
    text-align: center;
}
.about-section h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.about-section > p {
    font-size: 1.5rem;
    margin-bottom: 3rem;
    color: rgb(156 163 175)
}
.card-container {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}