.crypto-card {
    background-color: #141418;
    padding: 2rem;
    border: 1px solid #3d3b3b;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1rem;
    transition: border .3s;
}
.coin-price {
    display: flex;
    gap: 1rem;
    align-items: center;
}
.coin-price img {
    width: 50px;
}
.coin-name {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
.trend-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: .5rem;
    text-align: center;
}
.trend {
    display: flex;
    align-items: center;
    gap: .5rem;
}
.trend.positive {
    color: green;
}
.negative {
    color: red;
}
.selected {
    border: 1px solid #fff;
}