header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #111827;
    margin-bottom: 2.5rem;
}
header nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
header nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
nav ul li a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    transition: .3s all;
    color: #c5c5c5;
    font-weight: bold;
    &:hover, &:hover .icon {
        color: #fff;
    }
}
.icon {
    color: #c5c5c5;
    font-size: 1.25rem;
}
header nav > a {
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    font-size: 1.5rem;
    gap: .75rem;
    font-weight: bold;
}
header nav > a .i {
    font-size: 2.75rem;
}
.overview-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 475px));
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}