header {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    gap: 4rem;
    padding: 1.5rem 2rem;
    border-bottom: 1px solid #111827;
    background-color: black;
}
.header-wrapper {
    position: sticky;
    top: 0;
    right: 0;
    width: 100%;
    margin-bottom: 5rem;
}
header .default-nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.nav-links {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}
.nav-links a {
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: .25rem;
    font-size: 1rem;
    transition: .3s all;
    color: #c5c5c5;
    font-weight: bold;
    &:hover, &:hover .icon {
        color: #fff;
    }
}
.nav-links a.active {
    color: #fff;
    & .icon {
        color: #fff;
    }
}
.icon {
    color: #c5c5c5;
    font-size: 1.25rem;
}
header .default-nav > a {
    display: flex;
    text-decoration: none;
    color: #fff;
    align-items: center;
    font-size: 1.5rem;
    gap: .75rem;
    font-weight: bold;
}
header .default-nav > a .i {
    font-size: 2.75rem;
}
.overview-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 475px));
    gap: 1.5rem;
    justify-content: center;
    align-items: center;
}
.nav-btn {
    display: none;
    background-color: transparent;
    color: #fff;
    border: none;
    font-size: 2rem;
    cursor: pointer;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 0px;
    overflow: hidden;
    transition: all .3s;
    border-bottom: 1px solid #111827;
    background-color: black;
}
.menu.open {
    display: flex;
    height: 150px;
    padding: 1.5rem;
}

@media screen and (max-width: 552px) {
    .nav-btn {
        display: flex;
    }
    .default-nav .nav-links {
        display: none !important;
    }
    .nav-links {
        opacity: 0;
        padding: 1.5rem 0rem;
        transition: all .1s;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .nav-links.open {
        transition: all .1s;
        opacity: 1;
    }
}