main {
    width: 90vw;
    max-width: 500px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
}
select {
    background-color: black;
    color: white;
    padding: 1rem;
    outline: none;
    border: 1px solid white;
    border-radius: 5px;
    font-size: 1rem;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 1rem center;
    cursor: pointer;
}

