.overview-card {
    border: 1px solid #292828;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border-radius: .5rem;
    background-color: #09090B;
}
.overview-card h2 {
    font-size: 1rem;
    font-weight: normal;
}
.overview-card span {
    font-size: 1.25rem;
    font-weight: bold;
}